<div class="container mt-5">
  <h2 class="text-center mb-4">Extrato de Transferências</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Conta Origem</th>
          <th>Conta Destino</th>
          <th>Valor</th>
          <th>Taxa</th>
          <th>Data da Transferência</th>
          <th>Data de Agendamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transferencia of transferencias" [ngClass]="{'highlight-zero-tax': transferencia.taxa === 0}">
          <td>
            <div class="tooltip-container">
              {{ transferencia.contaOrigem }}
              <span class="tooltip-text">{{ transferencia.aviso }}</span>
            </div>
          </td>
          <td>
            <div class="tooltip-container">
              {{ transferencia.contaDestino }}
              <span class="tooltip-text">{{ transferencia.aviso }}</span>
            </div>
          </td>
          <td>
            <div class="tooltip-container">
              {{ formatCurrency(transferencia.valor) }}
              <span class="tooltip-text">{{ transferencia.aviso }}</span>
            </div>
          </td>
          <td>
            <div class="tooltip-container">
              {{ formatCurrency(transferencia.taxa) }}
              <span class="tooltip-text">{{ transferencia.aviso }}</span>
            </div>
          </td>
          <td>
            <div class="tooltip-container">
              {{ transferencia.dataTransferencia | date:'dd/MM/yyyy' }}
              <span class="tooltip-text">{{ transferencia.aviso }}</span>
            </div>
          </td>
          <td>
            <div class="tooltip-container">
              {{ transferencia.dataAgendamento | date:'dd/MM/yyyy' }}
              <span class="tooltip-text">{{ transferencia.aviso }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" (click)="mudarPagina(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i">
        <a class="page-link" (click)="mudarPagina(i)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
        <a class="page-link" (click)="mudarPagina(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="tooltip-container button-title">
    <button type="submit" class="btn btn-primary" routerLink="/transferencia">
        <i class="fa fa-hand-o-right"></i>
    </button>
    <span class="tooltip-text text-title">Fazer transferência</span>
 </div>

 <div class="square"></div>
 <p class="p-legend"><strong>Legenda: </strong> Sem taxa %</p>

</div>
